.banner2slider{display:none}/*用于获取更加体验*/
.focus span{width:10px;height:10px;margin-right:10px;border-radius:50%;background:rgba(0,0,0,0.1);font-size:0}
.focus span.current{background:rgba(255,255,255,0.5)}
